.anes{
	color:orange;
	font-style:italic;
}
.ayu{
	color:cyan;
	font-weight:bold;
}
.muddy{
	color:pink;
	text-decoration:underline;
}
.dian{
	color:magenta;
	font-style:italic;
}
.jeanie{
	color:purple;
	font-weight:bold;
}
.dhani{
	color:green;
	text-decoration:underline;
	
}
